body{
    background-image: url("../images/mainBack.jpg");
    background-color: #000000;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    align-content: center;
    text-align: center;
    color: #ebebeb;
    font-family: 'Special Elite', cursive;

}
a{
    color: #ebebeb;
    font-family: 'Special Elite', cursive;

}
h4{
    font-family: 'Cinzel', serif;

}
#about{
    font-family: 'Special Elite', cursive;
    font-weight: lighter;
    text-align: center;
}
#cite{
    font-family: 'Amatic SC', cursive;
    font-size: 1.1em;
    color: #918f8f;

}
#nav{
    font-family: 'Cinzel', serif;
    background-color: #170025;
}
#quotefoot{
    background: none;
}
#resultsModal img {
  overflow: hidden;
  width: 500px;
}
.jumbotron{
    background-color: #1e00312f;
    width: 90%;
    margin: auto;
    margin-bottom: 30px;
    
}
.jumbotron-fluid{
background-color: #23222473;
padding: 10px;
margin-bottom: 30px;
}
.blockquote-footer{
    font-family: 'Amatic SC', cursive;
    font-weight: bolder;
    font-size: 1.1em;
    color: #918f8f;

}
.homeHead{
    font-family: 'Cinzel', serif;
    color: #ebebeb;
    font-size: 4em;
}
.lead{
    font-family: 'Special Elite', cursive;
    color: #ebebeb;
    font-size: 1.4em;

}
.homeInstructions{
    font-family: 'Special Elite', cursive;
    color: #ebebeb;
    font-size: 1.4em;

}
.goBtn{
    font-family: 'Amatic SC', cursive;
    color: #ebebeb;
    font-size: 2em;
}
.submitBtn{
    font-family: 'Amatic SC', cursive;
    margin: 20px;
    font-size: 1.5em;
    background-color: #000000;
    border-color: #ffffff;
}
.surveyTitle{
    margin: 20px;
    font-family: 'Cinzel', serif;
    color: #ebebeb;
    /* font-size: 5em; */
}
.survey{
    align-content: left;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    text-align: left;
    background-color: #2f004d38;
    border: solid;
    border-color: #ebebeb;
    border-radius: 10px;
    overflow: auto;
    width: 80%
}

footer{
    background-color: #170025;
    padding: 30px;
}